@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./Fonts/Montserrat/Montserrat-Thin.ttf);
    font-weight: 100;
}

//--------------- Playfair Display-----------------------
@font-face {
    font-family: 'Playfair Display', serif;
    src: url(./Fonts/Playfair-display/PlayfairDisplay-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: url(./Fonts/Playfair-display/PlayfairDisplay-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: url(./Fonts/Playfair-display/PlayfairDisplay-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: url(./Fonts/Playfair-display/PlayfairDisplay-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: url(./Fonts/Playfair-display/PlayfairDisplay-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: url(./Fonts/Playfair-display/PlayfairDisplay-SemiBold.ttf);
    font-weight: 600;
}